.center{
    display: flex;
    justify-content: center;
  }
.breedFont{
 font-size: 23px;
}
.yellow{
  color: rgb(255, 224, 49);
}
.white{
  color: white;
}
.darkModeBackground{
  background-color: #121212;
}