<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12">
        <ion-card >
          <ion-item >
            <ion-label class="center breedFont" id="breedSpecies">{{animalChoice[0].breedSpeciesName}}</ion-label>
            <!-- <ion-icon *ngIf="!favoriteBool" (click)="setFavorite()" name="star" slot="end" id="star" class="white"></ion-icon>
            <ion-icon *ngIf="favoriteBool" (click)="deleteFavorite()" name="star" slot="end" id="star" class="yellow"></ion-icon> -->
          </ion-item>
          <ion-card-content>
            <img src={{src}} alt="An Alaskan Malamute">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
         <ion-item>
           <ion-label>Height: {{animalChoice[0].height}}</ion-label>
         </ion-item>
         <ion-item>
          <ion-label>Weight: {{animalChoice[0].weight}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lifespan: {{animalChoice[0].lifespan}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diet: {{animalChoice[0].diet}}</ion-label>
        </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title class="center">Caution!</ion-card-title>
            <ion-card-subtitle>These foods cannot be ingested by dogs</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{animalChoice[0].dangerousFood}}
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title class="center">Good Foods</ion-card-title>
            <ion-card-subtitle>These foods can be safely fed to dogs</ion-card-subtitle>
          </ion-card-header>
              
          <ion-card-content>
            {{animalChoice[0].goodFood}}.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title>About</ion-card-title>
           
          </ion-card-header>
        
          <ion-card-content>
           {{animalChoice[0].about}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title>Grooming and Health</ion-card-title>
           
          </ion-card-header>
        
          <ion-card-content>
           {{animalChoice[0].groomingAndHealth}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title>Care and Habitat</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{animalChoice[0].careAndHabitat}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- This can be hardcoded, the title and subtitle, but the content will be what is pulled from the API -->
            <ion-card-title>Personality</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{animalChoice[0].personality}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-bottom-nav></app-bottom-nav>