<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-card class="animalTypeSize titleBG">
          <ion-card-header class="titleBG">
            <ion-card-title class="text-center titleBG white" id="categoryTitle"></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="animalList" *ngIf="!favoritesBool">
        <ion-row *ngFor="let animal of animals" >
          <ion-col class="center">
              <button class="listBtns" mat-button routerLink="/animal-info" (click)="setAnimalChoice(animal.breedSpeciesName)" >
                {{animal.breedSpeciesName}}
              </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="animalList" *ngIf="favoritesBool;">
        <ion-row *ngFor="let favorite of favorites" >
          <ion-col>
            <ion-item>
              <button mat-button routerLink="/animal-info" (click)="setAnimalChoice(favorite.breedSpeciesName)" >
                {{favorite.breedSpeciesName}}
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>

<app-bottom-nav></app-bottom-nav>