<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button class="smolbtn" mat-icon-button routerLink='/index-main'>
          <mat-icon class="backArrow">keyboard_arrow_left</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink='/vet-info'>
          <mat-icon>local_hospital</mat-icon>
        </button>
      </ion-col>

      <h1 class="navTitle">Pet Index</h1>

      <ion-col class="end">
 
        <button class="smolbtn" mat-icon-button routerLink='/account'>
          <mat-icon>account_circle</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-card class="animalTypeSize">
          <ion-card-header >
            <ion-card-title class="text-center" id="categoryTitle"></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="animalList" *ngIf="!favoritesBool;">
        <ion-row *ngFor="let animal of animals" >
          <ion-col>
            <ion-item>
              <button mat-button routerLink="/animal-info" (click)="setAnimalChoice(animal.breedSpeciesName)" >
                {{animal.breedSpeciesName}}
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="animalList" *ngIf="favoritesBool;">
        <ion-row *ngFor="let favorite of favorites" >
          <ion-col>
            <ion-item>
              <button mat-button routerLink="/animal-info" (click)="setAnimalChoice(favorite.breedSpeciesName)" >
                {{favorite.breedSpeciesName}}
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" routerLink='/my-pets'>

          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" routerLink='/home'>

          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
          routerLink='/journal-entries'>
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>