<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button class="smolbtn" mat-icon-button routerLink='/index-main'>
          <mat-icon class="backArrow">keyboard_arrow_left</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink='/vet-info'>
          <mat-icon>local_hospital</mat-icon>
        </button>
      </ion-col>

      <h1 class="navTitle">Pet Index</h1>

      <ion-col class="end">
 
        <button class="smolbtn" mat-icon-button routerLink='/account'>
          <mat-icon>account_circle</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-card class="animalTypeSize">
          <ion-card-header >
            <ion-card-title class="center ">Animal Section Chosen</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col>
            <ion-item-divider>
              <ion-label class="labelFont">A</ion-label>
            </ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
            <ion-item>
              <button class="animalBtns" mat-button routerLink='/animal-info'>Breed/Species</button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
            <ion-item lines="none">
              <button class="animalBtns" mat-button routerLink='/animal-info'>Breed/Species</button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item-divider>
              <ion-label class="labelFont">B</ion-label>
            </ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
            <ion-item lines="none">
              <button class="animalBtns" mat-button routerLink='/animal-info'>Breed/Species</button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item-divider>
              <ion-label class="labelFont">C</ion-label>
            </ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
            <ion-item lines="none">
              <button class="animalBtns" mat-button routerLink='/animal-info'>Breed/Species</button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item-divider>
              <ion-label class="labelFont">D</ion-label>
            </ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
            <ion-item lines="none">
              <button class="animalBtns" mat-button routerLink='/animal-info'>Breed/Species</button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" routerLink='/my-pets'>

          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" routerLink='/home'>

          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
          routerLink='/journal-entries'>
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>