<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content  >
  <ion-grid >
    <ion-row class="center mt-4">
      <form [formGroup]="AddEventForm" (ngSubmit)="submitForm()">
        <ion-col size="10">
          <h2 class="center">Create A Feeding Time</h2>
          <ion-item class="mb-2">
            <ion-label>My Pet</ion-label>
            <ion-select value="" formControlName='pName' okText="Save" cancelText="Cancel">
              <ion-select-option *ngFor="let pet of pService.myPets" value="{{pet.petName}}">{{pet.petName}}</ion-select-option>

            </ion-select>
          </ion-item>
          <ion-input formControlName='date' type="time"></ion-input>
          <ion-item class="mt-2">
            <ion-label>Repeats</ion-label>
            <ion-select value="" formControlName='occur' okText="Save" cancelText="Cancel">
              <ion-select-option *ngFor="let i of repeat" value="{{i}}">{{i}}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="12" class="end">
        <!-- <button mat-raised-button class="mr-1 grey">Cancel</button> -->
        <button [disabled]="!AddEventForm.valid" type="submit" class="btn1" mat-raised-button color="primary">Save</button>
        <!-- save these changes to db push to users entries -->
      </ion-col>
    </form>
      
    </ion-row>


  </ion-grid>
</ion-content>

<app-bottom-nav></app-bottom-nav>
