<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>


<ion-content>
<ion-grid>
  <ion-row class="center">
    <ion-col size="12" class="mt-3 center">
      <div class="primaryBg rounded px-2 text-center">
        <h2 class="mb-0">Wednesday<br>February 20, 2020</h2>
      
      </div>
    </ion-col>
    <ion-col size="10" class="mt-3 px-3 py-3 accentBg rounded">
        <ul class="pl-3">
          <li class="mb-2" *ngFor="let items of entry">{{items}}</li>
        </ul>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<app-bottom-nav></app-bottom-nav>
