// .center{
//     display: flex;
//     justify-content: center;
//   }
//   .btn1{
//     background: #131313;
//     width: 100%;
//     margin-top: 5px;
//     padding: 0px !important;
//   }
//   .animalPic{
//     width:60px;
//     height:60px;
//     border-radius: 50%;
//   }
//   .petName{
//     display: flex;
//     justify-content:center;
//   }
  .btn1{
    background: linear-gradient(320deg, #00838F, #0f0c3a);
    width: 100%;
    height: 80px;
    margin-top: 5px;
    padding: 0px !important;
  }
  .addPet{
    background: linear-gradient(320deg, #00838F, #0f0c3a);
    width: 100%;
    height: 40px;
    margin-top: 5px;
  }
  .animalPic{
    width:60px;
    height:60px;
    border-radius: 50%;
  }
  .acenter{
    display: flex;
    align-content: center;
  }
  .petName{
    margin: 0px !important;
  }
 