<ion-header>
  <ion-toolbar>
    <ion-row class="btwn">
      <div>
        <button class="smolbtn" mat-icon-button>
          <mat-icon routerLink="/home" class="backArrow">keyboard_arrow_left</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink='/vet-info'>
          <mat-icon>local_hospital</mat-icon>
        </button>
      </div>

      <h1 class="navTitle">Account</h1>

      <div class="end">
        <button class="smolbtn" mat-icon-button routerLink='/settings'>
          <mat-icon>settings</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink='/account'>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <button mat-raised-button routerLink='/change-email'>Change Email</button>
  <button mat-raised-button routerLink='/change-password'>Change Password</button>
  <button mat-raised-button color="primary" routerLink = '/login'>Login Page</button> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="end">
        <button mat-icon-button routerLink='/home'>
          <mat-icon>save</mat-icon>
        </button>
      </ion-col>

  <ion-col size="4">
    <div class="picture">
      <img class="profilePic" src="../../../../../assets/images/TritonDarkAccent.png" alt="Add Pet Picture">
    </div>
    <div class="camera d-flex align-items-end">
      <mat-icon class="greyCamera">camera_enhance</mat-icon>
    </div>
  </ion-col>
  
  <ion-col size="8" class="mt-4">
    <ion-item class="inputBox">
      <ion-label position="stacked">My Name</ion-label>
      <ion-input type="text" placeholder="James Barnes"></ion-input>
    </ion-item>
  </ion-col>

      <!-- <ion-col size="12" class="ml-2">
    <p>SergBarnes@gmail.com</p>
      </ion-col> -->
      <ion-col size="12" class="change" routerLink='/change-email'>
        <p><u>Change Email</u></p>
      </ion-col>

      <ion-col size="12" class="change" routerLink='/change-password'>
        <p><u>Change Password</u></p>
      </ion-col>

      <!-- <ion-col size="12" class="change" routerLink='/change-password'>
        <p><u>Notifications</u></p>

      </ion-col> -->

      <ion-col class="bottomRight change">
        <p><u>Sign Out</u></p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" routerLink = '/my-pets'>
          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" routerLink = '/home'>
          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" routerLink = '/journal-entries'>
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>