.center{
    display: flex;
    justify-content: center;
  }
  .descriptionSpecs{
    height: 400px;
    background-color: #283593;
  }

.content{
  font-size: 25px;
  color: white;
}
.startBtn{
  background-color: #00838f !important;
  color: white;
  width: 380px;
}