<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content >
  <ion-grid >
    <ion-row *ngIf="chosenPet">

      <ion-col size="12" class="center">
        <div class="picture">
          <img class="circleProfile" src="{{ updatedImage || chosenPet.petPicture || '../../../../../assets/images/doge.jpg'}}" alt="Yoda">
        </div>
      </ion-col>
      <ion-col size="12" class="center">
        <div class="camera d-flex align-items-end">
          <label for="fileInput">
            <mat-icon class="greyCamera">camera_enhance</mat-icon>
          </label>
          <input class="d-none" type="file" name="profilePhoto" id="fileInput" (click)="onFileSelected($event)" accept=".png, .jpg">
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="overFlow">
          <ion-item class="inputBox">
            <ion-label position="stacked">Pet Name</ion-label>
            <ion-input [(ngModel)]="chosenPet.petName" type="text" placeholder="Name"></ion-input>
          </ion-item>
        </div>
        <div class="overFlow mt-1">
          <ion-item class="inputBox">
            <ion-label position="stacked">Pet Description</ion-label>
            <ion-input [(ngModel)]="chosenPet.petDescription" type="text" placeholder="Description"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      
      <ion-col size="12" class="end">
        <button mat-raised-button class="mr-1 grey" (click)="cancel()">Cancel</button>
        <button class="btn1" mat-raised-button color="primary" (click)="save()">Save</button>
      </ion-col>

      <ion-col class="bottomRight">
        <p (click)="removePetProfile()"><u>Remove Pet Profile</u></p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<app-bottom-nav></app-bottom-nav>