<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>


<ion-content >
  <ion-grid >
    <ion-row class="center">
      <form size="12" class="p-0 m-0" [formGroup]="AddPetForm" (ngSubmit)="submitForm()">
        <ion-col size="12" class="center form-group">
          <div class="picture">
            <img class="circleProfile" src="../../../../../assets/images/TritonDarkAccent.png" alt="Add Pet Picture">
          </div>
        </ion-col>
        <ion-col size="12" class="center">
          <div class="camera d-flex align-items-end">
            <mat-icon class="greyCamera">camera_enhance</mat-icon>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="overFlow">
            <ion-item class="inputBox">
              <ion-label position="stacked">Pet Name</ion-label>
              <ion-input type="text" placeholder="e.g. Triton" formControlName='pName'></ion-input>
            </ion-item>
          </div>

          <div class="overFlow mt-1">
            <ion-item class="inputBox">
              <ion-label position="stacked">Pet Description</ion-label>
              <ion-input type="text" placeholder="e.g. Axolotl" formControlName="pInfo"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12" class="end">
          <!-- <button type="button" (mousedown)="cancel()" mat-raised-button class="mr-1 grey">Cancel</button> -->
          <button [disabled]="!AddPetForm.valid" type="submit" class="btn1" mat-raised-button color="primary" >Save</button>
        </ion-col>
      </form>
        
        <ion-col class="bottomRight">
          <p (click)="removePetProfile()"><u>Remove Pet Profile</u></p>
        </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <fieldset>
    <legend>Pet Form</legend>
    <form [formGroup]="AddPetForm" (ngSubmit)="submitForm()">
      <input type="text" formControlName="pName">
      <input type="text" formControlName="pInfo">
      <input type="text" formControlName="pPic">
      <button type="submit" class='btn btn-primary' [disabled]="!AddPetForm.valid">Submit</button>
    </form>
  </fieldset> -->
</ion-content>
  
<app-bottom-nav></app-bottom-nav>