.center{
    display: flex;
    justify-content: center;
  }
  .questionNum{
    font-size: 16px;
    border-radius: 5px;
   
  }
 
 .answerBG{
   background-color: #00838f;
 }
 .answerBtn{
   width: 180px;
   font-size: 20px;
 }