<ion-header>
  <ion-toolbar>
    <ion-row class="btwn">
      <div>
        <button class="smolbtn" mat-icon-button routerLink='/quiz-main'>
          <mat-icon routerLink="/my-pets" class="backArrow">keyboard_arrow_left</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink='/vet-info'>
          <mat-icon>local_hospital</mat-icon>
        </button>
      </div>

      <h1 class="navTitle">Pick My Pet</h1>

      <div class="end">
 
        <button class="smolbtn" mat-icon-button routerLink='/account'>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mt-5">
    <ion-row>
      <ion-col class="mt-3" size="3.7">
        <ion-item class="questionNum">
          <ion-label>Question 1</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center " >
          <ion-card-header class="questionBG">
            <ion-card-title class="text-center">This is where the questions will be presented to the user being pulled from our API</ion-card-title>
          </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-list class="questionNum">
          <ion-item>
            <ion-label>Answer 1</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Answer 2</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Answer 3</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Answer 4</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <!-- After 25 questions, this button wil disappear and the submit button will appear -->
        <button mat-button class="answerBG answerBtn">Next Question</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center mt-5">
        <button mat-button routerLink='/results' class="answerBG answerBtn">Submit Answers</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" routerLink='/my-pets'>
          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" routerLink='/home'>
          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
          routerLink='/journal-entries'>
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>