.center{
    display: flex;
    justify-content: center;
  }
  .questionNum{
    font-size: 16px;
    border-radius: 5px;
   
  }
 

 .answerBtn{
   width: 180px;
   font-size: 20px;
   background-color: #121212;
 }
 .darkModeBackground{
  background-color: #121212;
  height: 100%;
}