<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content class="darkModeBackground">
  <ion-grid class="mt-5">
    <ion-row>
      <ion-col class="center " >
          <ion-card-header class="questionBG">
            <ion-card-title class="text-center">{{firstQuestions[questionNum].question}}</ion-card-title>
          </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
          <ion-item class="questionNum" (click)="choiceSelect1()">
            <ion-label>{{firstQuestions[questionNum].optionOne}}</ion-label>
            <ion-checkbox slot="end" id="btn1"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum" (click)="choiceSelect2()">
            <ion-label>{{firstQuestions[questionNum].optionTwo}}</ion-label>
            <ion-checkbox slot="end" id="btn2"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum" (click)="choiceSelect3()">
            <ion-label>{{firstQuestions[questionNum].optionThree}}</ion-label>
            <ion-checkbox slot="end" id="btn3"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum" (click)="choiceSelect4()">
            <ion-label>{{firstQuestions[questionNum].optionFour}}</ion-label>
            <ion-checkbox slot="end" id="btn4"></ion-checkbox>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <ion-item lines=none  (click)="nextQuestion()" id="holder">
          
        </ion-item>
        <!-- After 25 questions, this button wil disappear and the submit button will appear -->
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="center mt-5">
        <button mat-button routerLink='/results' class="answerBG answerBtn">Submit Answers</button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<app-bottom-nav></app-bottom-nav>