<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>

<ion-content>
  <ion-grid class="mt-5">
    <ion-row>
      <ion-col class="mt-3" size="3.7">
        <ion-item class="questionNum">
          <ion-label>Question 1</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center " >
          <ion-card-header class="questionBG">
            <ion-card-title class="text-center">This is where the questions will be presented to the user being pulled from our API</ion-card-title>
          </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
          <ion-item class="questionNum">
            <ion-label>Answer 1</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum">
            <ion-label>Answer 2</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum">
            <ion-label>Answer 3</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item class="questionNum">
            <ion-label>Answer 4</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <!-- After 25 questions, this button wil disappear and the submit button will appear -->
        <button mat-button class="answerBG answerBtn">Next Question</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center mt-5">
        <button mat-button routerLink='/results' class="answerBG answerBtn">Submit Answers</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-bottom-nav></app-bottom-nav>