.center{
  display: flex;
  justify-content: center;
}
.indexBtns{
  width: 250px;
  height: 50px;
  font-size: 25px;
  margin-top: 30px;
}
.centerBtns{
  display: flex;
  align-items: center;
}
.dogs{
  background: linear-gradient((#c6282883),(#c6282883)) , url(../../../../assets/Bulldog-laying-down.jpg);
  background-size: 250px 150px;
  background-position: 250px 75px ;
}
.cats{
  background: linear-gradient((#c6282883),(#c6282883)) , url(../../../../assets/Bulldog-laying-down.jpg);
  background-size: 250px 150px;
  background-position: 250px 75px ;
}