<app-top-nav [backLocation]="backLocation" [title]="title"></app-top-nav>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12">
        <button (click)="setCategoryIndexMain('Dog')" class="indexBtns dog" mat-raised-button color="primary" routerLink='/index-secondary' >Dogs</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns cat" mat-raised-button color="primary" routerLink='/index-secondary'>Cats</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns reptile" mat-raised-button color="primary" routerLink='/index-secondary'>Reptiles</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns bird" mat-raised-button color="primary" routerLink='/index-secondary'>Birds</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns frog" mat-raised-button color="primary" routerLink='/index-secondary'>Amphibians</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns hamster" mat-raised-button color="primary" routerLink='/index-secondary'>Small Animals</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns insect" mat-raised-button color="primary" routerLink='/index-secondary'>Insects</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns aquatic" mat-raised-button color="primary" routerLink='/index-secondary'>Aquatics</button>
      </ion-col>
      <ion-col class="center" size="12">
        <button class="indexBtns favs" mat-raised-button color="primary" routerLink='/index-secondary'>Favorites</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<app-bottom-nav></app-bottom-nav>