.center {
  display: flex;
  justify-content: center;
}

ion-content {
  --background: unset;
  background-image: url("../../../../assets/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  background: #ffffff55;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

a {
  color: cyan;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
