<ion-header>
  <ion-toolbar>
    <ion-title>changeEmail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink = '/my-pets'>
          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" routerLink = '/home'>
          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" routerLink = '/journal-entries'>
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>