#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100px;
  white-space: nowrap;
}

.scrolls-vertically {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 200px;
  white-space: nowrap;
}

.animalPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.square {
  width: 80px;
  height: 80px;
}