<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button class="smolbtn" mat-icon-button>
          <mat-icon class="backArrow">keyboard_arrow_left</mat-icon>
        </button>
        <button class="smolbtn" mat-icon-button routerLink="/vet-info">
          <mat-icon>local_hospital</mat-icon>
        </button>
      </ion-col>

      <h1 class="navTitle">Account</h1>

      <ion-col class="end">
        <button class="smolbtn" mat-icon-button routerLink="/account">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="rounded primaryBg-gradient">
          <div class="card-body p-2">
            <div
              class="d-flex py-0 justify-content-between"
              (click)="redirect('my-pets')"
            >
              <h2 class="card-title mb-0">My Pets</h2>
              <mat-icon class="h1 mt-0 mt-n2">keyboard_arrow_right</mat-icon>
            </div>
            <div class="scrolls my-2 h-125">
              <a routerLink="/pet-info">
                <img
                  src="../../../../assets/images/doge.jpg"
                  class="animalPic mx-2"
                  alt="Yoda"
                />
              </a>
              <a routerLink="/pet-info">
                <img
                  src="../../../../assets/images/doge.jpg"
                  class="animalPic mx-2"
                  alt="Yoda"
                />
              </a>
              <a routerLink="/pet-info">
                <img
                  src="../../../../assets/images/doge.jpg"
                  class="animalPic mx-2"
                  alt="Yoda"
                />
              </a>
              <a routerLink="/pet-info">
                <img
                  src="../../../../assets/images/doge.jpg"
                  class="animalPic mx-2"
                  alt="Yoda"
                />
              </a>
              <a routerLink="/pet-info">
                <img
                  src="../../../../assets/images/doge.jpg"
                  class="animalPic mx-2"
                  alt="Yoda"
                />
              </a>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="rounded primaryBg-gradient">
          <div class="card-body p-2">
            <div
              class="d-flex pb-0 justify-content-between"
              (click)="redirect('feeding-times')"
            >
              <h2 class="card-title mb-0">Today's Feeding Times</h2>
              <mat-icon class="h1 mt-0 mt-n2">keyboard_arrow_right</mat-icon>
            </div>
            <div class="scrolls my-2 h-125 d-flex flex-row">
              <div
                class="text-center px-2 h-75 border-right border-white d-flex justify-content-center flex-column"
              >
                <span class="font-weight-bold lead">8:00am</span>
                <p>Yoda</p>
              </div>

              <div
                class="text-center px-2 h-75 border-right border-white d-flex justify-content-center flex-column"
              >
                <span class="font-weight-bold lead">8:30am</span>
                <p>Yoda</p>
              </div>

              <div
                class="text-center px-2 h-75 border-right border-white d-flex justify-content-center flex-column"
              >
                <span class="font-weight-bold lead">9:00am</span>
                <p>Yoda</p>
              </div>

              <div
                class="text-center px-2 h-75 border-right border-white d-flex justify-content-center flex-column"
              >
                <span class="font-weight-bold lead">9:30am</span>
                <p>Yoda</p>
              </div>

              <div
                class="text-center px-2 h-75 border-right border-white d-flex justify-content-center flex-column"
              >
                <span class="font-weight-bold lead">10:00am</span>
                <p>Yoda</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="rounded primaryBg-gradient h-100">
          <div class="card-body p-2">
            <div
              class="d-flex pb-0 justify-content-between"
              (click)="redirect('events-notifs')"
            >
              <h2 class="card-title mb-0">Events</h2>
              <mat-icon class="h1 mt-0 mt-n2">keyboard_arrow_right</mat-icon>
            </div>
            <div
              class="scrolls-vertically h-200p d-flex flex-column align-items-center"
            >
              <a routerLink="/events-notifs"
                ><div class="text-center my-2 w-75 border-bottom border-white">
                  <span class="font-weight-bold lead">9:00am</span>
                  <p>Yoda</p>
                </div>
              </a>
              <a routerLink="/events-notifs"
                ><div class="text-center my-2 w-75 border-bottom border-white">
                  <span class="font-weight-bold lead">9:00am</span>
                  <p>Yoda</p>
                </div>
              </a>
              <a routerLink="/events-notifs"
                ><div class="text-center my-2 w-75 border-bottom border-white">
                  <span class="font-weight-bold lead">9:00am</span>
                  <p>Yoda</p>
                </div>
              </a>
              <a routerLink="/events-notifs"
                ><div class="text-center my-2 w-75 border-bottom border-white">
                  <span class="font-weight-bold lead">9:00am</span>
                  <p>Yoda</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="p-0">
        <ion-row>
          <ion-col>
            <div class="rounded primaryBg-gradient">
              <div class="card-body p-2">
                <div
                  class="d-flex pb-0 justify-content-between"
                  (click)="redirect('index-main')"
                >
                  <h2 class="card-title mb-0">Pet Index</h2>
                  <mat-icon class="h1 mt-0 mt-n2"
                    >keyboard_arrow_right</mat-icon
                  >
                </div>
                <p class="card-text">
                  Learn about other creatures you can care for
                </p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="rounded primaryBg-gradient">
              <div class="card-body p-2">
                <div
                  class="d-flex pb-0 justify-content-between"
                  (click)="redirect('quiz-main')"
                >
                  <h2 class="card-title mb-0">Pick My Pet</h2>
                  <mat-icon class="h1 mt-0 mt-n2"
                    >keyboard_arrow_right</mat-icon
                  >
                </div>
                <p class="card-text">
                  Take our quiz to find out which pet is right for you
                </p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="rounded primaryBg-gradient">
              <div class="card-body p-2">
                <div
                  class="d-flex pb-0 justify-content-between"
                  (click)="redirect('documents-main')"
                >
                  <h2 class="card-title mb-0">Docs</h2>
                  <mat-icon class="h1 mt-0 mt-n2"
                    >keyboard_arrow_right</mat-icon
                  >
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a home icon"
          routerLink="/my-pets"
        >
          <mat-icon>pets</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a menu icon"
          routerLink="/home"
        >
          <mat-icon>home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
          routerLink="/journal-entries"
        >
          <mat-icon>local_library</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- <ion-footer>
  <mat-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col >
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" >
            <mat-icon >home</mat-icon>
          </button>
        </ion-col>
        <ion-col>
          <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </ion-col>
        <ion-col>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </mat-toolbar>
</ion-footer> -->
