<ion-header>
  <ion-toolbar>
    <ion-title>my-pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <button mat-raised-button routerLink = '/add-pet'>Add Pet</button>
  <button mat-raised-button routerLink = '/pet-info'>Pet Info</button>


</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" >
          <mat-icon >home</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </ion-col>
      <ion-col class="center">
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>