.center{
    display: flex;
    justify-content: center;
  }
  .circleProfile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
.wrap{
  overflow-wrap: break-word;
}
li{
  font-size: 17px;
}
// ion-card{
//   height: 75%;
// }
.inputBox{

  background: #22222246;
}
.lineFix{
  padding-left: 25px;
}
.darkModeBackground{
  background-color: #121212;
}